.home {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100%;
}

.home .imgContainer {
  margin: 20px;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  max-height: 600px;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  background-color: #34343c;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.home .imgContainer img {
  height: 105%;
}


.home .aboutTextContainer {
  text-align: right;
  margin: 20px;
}

.home a {
  position: absolute;
  bottom: 2vh;
}
.home a.left {
  left: 5vw;
}
.home a.right {
  right: 5vw;
}
.home a img {
  width: 30px;
  z-index: 1;
  animation: blink 4s infinite;
}

@keyframes blink {
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width:900px) {
  .home {
  flex-direction: column;  
  justify-content: space-around;
  }
  .home .aboutTextContainer h2 {
    font-size: 40px;
  }
  .home .aboutTextContainer p {
    font-size: 20px;
  }
}

